*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.header{
    width: 100%;
    height: 100px;
    border-bottom: 2px solid rgb(6, 78, 212);
    box-shadow: 10px 0px 10px rgb(6, 78, 212);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer{
    width: 100%;
    height: 150px;
    border: 2px solid black;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}
.main_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}
.main2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.top{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}
.left2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100vh;
}
.center{
    width: 1px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}
.right2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.result{
    width: 150px;
    height: 320px;
    margin: 10px;
    border: 2px solid rgb(6, 78, 212);
    padding: 10px;
    background-color: rgb(236, 234, 234);
}
.top_right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* input{
    width: 250px;
    height: 40px;
    border-radius: 15px;
    margin: 5px;
    border: 2px solid rgb(6, 78, 212);
    padding: 5px;
} */
.input{
    width: 250px;
    height: 40px;
    border-radius: 15px;
    margin: 5px;
    border: 2px solid rgb(6, 78, 212);
    padding: 5px;
}
.input2{
    width: 120px;
    height: 40px;
    border-radius: 15px;
    margin: 5px;
    border: 2px solid rgb(6, 78, 212);
    padding: 5px;
}
select{
    width: 300px;
    height: 40px;
    border-radius: 15px;
    margin: 5px;
}
.a{
    width: 150px;
    height: 20;
    border-radius: 15px;
    border: 2px solid rgba(6, 78, 212);
    background-color: rgba(78, 127, 220, 0.626);
    text-align: center;
    text-decoration: none;
    margin: 10px;
}
.amount_added{
    margin-left: 30px;
}
.bankPic{
    height: 100%;
}
.submit{
    background-color: rgba(78, 127, 220, 0.626);
}
.logout{
    padding: 10px;
    display: flex;
    align-items: center;
}
.logout2{
    padding: 20px;
    text-align: center;
}
.landing_top{
    height: 500px;
    width: 100%;
    border: 2px solid green;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.landing_bottom{
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.product_display{
    height: 600px;
    width: 20%;
    margin: 5px;
}
.image{
    height: 90%;
}
.product_image{
    height: 345px;
    display: flex;
    justify-content: center;
    align-items: top;
    overflow: hidden;
}
.products{
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.current_user{
    height: 100%;
    width: 150px;
    margin-right: 10px;
}
.hidden{
    display: none;
}
.cart{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 50px;
    height: 100%;
    width: 100%;
}
.cart_items{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    align-items: center;
}
.line_item{
    height: 100%;
    width: 100px;
}
.image_div{
    width: 100%;
    height: 340px;
}
.description{
    margin: 10px;
}
.item_desc{
    height: 100px;
}
.landing_options1{
    height: 300px;
    width: 34%;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, .5);
    background-image: url('/static/images/rebecca_cox.jpg');
    background-size: cover;
}
.landing_options1:hover{
    opacity: .5;
    transition: ease-in-out, .7s;

}
.landing_options2{
    height: 300px;
    width: 34%;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, .5);
    background-image: url('/static/images/midrage.jpg');
    background-size: cover;
}
.landing_options2:hover{
    opacity: .5;
    transition: ease-in-out, .7s;

}
.landing_options3{
    height: 300px;
    width: 34%;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, .5);
    background-image: url('/static/images/Putting.jpg');
    background-size: cover;
}
.landing_options3:hover{
    opacity: .5;
    transition: ease-in-out, .7s;

}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.landing_img{
    width: 100%;
}
.zip{
    display: flex;
    justify-content: center;
    align-items: center;
}
.zip2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}
.saved_address{
    width: 200px;
    margin-left: 50px;
}
.price_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_info_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.select{
    display: flex;
    justify-content: center;
    align-items: center;
}