<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel= "stylesheet" href= "{{ url_for('static', filename='style/styleSheet.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    <title>Disc sales</title>
  </head>

  <body>
    <header>
        <div class="header">
          <div class="logout">
            <img src="static\images\bank.png" class="bankPic">
          </div>
          <div class="logout">
            <p class="current_user">Current User: {{ no_user }}</p>
            <a href="/sort" class="logout2, a">Homepage</a>
            <a href="/products" class="logout2, a">Products</a>
            <a href="/" class="logout2, a">Landing</a>
            <a href="/logout" class="logout2, a">Logout</a>
            <a href="/login" class="logout2, a">Login</a>
          </div>
        </div>
    </header>

    {% block body%}
    {% endblock %}
    <footer>
      <div class="footer">
        <a href="/contact" class="logout2, a">Contact us</a>
      </div>
    </footer>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>