{% extends "base.html" %}
{% block body %}
<div class="top">
    {{ review }}
</div>
<div class="main">
    <div class="left">
        <h3>Meet our Vendors</h3>
        {% for vendor in vendors %}
        <div class="review_details">
            <p class="line_item" style="width: 150px;">Username: {{ vendor[1] }}</p>
            <p class="line_item" style="width: 150px;">Last Name: {{ vendor[4] }}</p>
            <p class="line_item" style="width: 250px;">Email: {{ vendor[5] }}</p>
            <form action="send_chat" method="POST">
                <input value="{{ vendor[0] }}" name="id" class="hidden">
                <input type="submit" value="Send a Chat">
            </form>
        </div>
        {% endfor %}
    </div>
    <div class="right">
        <h3>Meet our Admins</h3>
        {% for admin in admins %}
        <div class="review_details">
            <p class="line_item" style="width: 150px;">Username: {{ admin[1] }}</p>
            <p class="line_item" style="width: 150px;">Last Name: {{ admin[4] }}</p>
            <p class="line_item" style="width: 250px;">Email: {{ admin[5] }}</p>
            <form action="send_chat" method="POST">
                <input value="{{ admin[0] }}" name="id" class="hidden">
                <input type="submit" value="Send a Chat">
            </form>
        </div>
        {% endfor %}
    </div>
    
</div>
{% endblock %}