{% extends "base.html" %}
{% block body %}
<div class="top">
    {{ reg_error }}
    {{ username_error }}
    {{ login_error }}
    {{ email_error }}
</div>
<div class="main">
    <div class="left">
        <h3>Login</h3>
        <div class="reg_border">
            <form action="/login" method="post">
                <input class="input" type="text" name="username" placeholder="Username" required> <br>
                <input class="input" type="text" name="password" placeholder="Password" required> <br>
                <input class="input" type="submit" value="Submit" class="submit">
            </form>
        </div>
    </div>
    <div class="center"></div>
    <div class="right">
        <h3>Register</h3>
        <div class="reg_border">
            <form action="/register" method="post">
                <input class="input" type="text" name="username_reg" placeholder="Username" required> <br>
                <input class="input" type="password" name="password1" placeholder="Password" required> <br>
                <input class="input" type="password" name="password2" placeholder="Password" required> <br>
                <input class="input" type="text" name="fname" placeholder="First Name" required> <br>
                <input class="input" type="text" name="lname" placeholder="Last Name" required> <br>
                <input class="input" type="text" name="email" placeholder="Email" required> <br>
                <select class="input" required name="type">
                    <option value="C">Customer</option>
                    <option value="A">Admin</option>
                    <option value="V">Vendor</option>
                </select><br>
                <input type="submit" value="Submit" class="input">
            </form>
        </div>
    </div>
</div>
{% endblock %}
