{% extends "base.html" %}
{% block body %}
<div class="main" style="overflow: auto; height: auto;">
    <div class="left" >
        <h3>Orders</h3>
        {% for result in results %}
            <p>Order Date: {{ result[2] }} Status: {{ result[10] }}</p>
                {% for result in results %}
                    <div class="cart_items">
                        <p class="line_item">Item Name: {{ result[4] }}</p>
                        <p class="line_item">Color: {{ result[5] }}</p>
                        <p class="line_item">Plastic type: {{ result[6] }}</p>
                        <p class="line_item">Quantity: {{ result[7] }}</p>
                        <p class="line_item">Price: ${{ result[8] }}0</p>
                    </div>
                {% endfor %}
            <p>Total Price: ${{ result[9] }}0</p>
        {% endfor %}
        
        
    </div>
    <div class="right">

    </div>
</div>
{{ ordered }}
{% endblock %}