{% extends "base.html" %}
{% block body %}
<div class="top">
    <form action="/products" method="post">
        <select name="type">
            <option value="all">All</option>
            <option value="Driver">Driver</option>
            <option value="Mid">Mid-range</option>
            <option value="Putter">Putter</option>
        </select>
        <select name="color">
            <option value="all">All</option>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
        </select>
        <select name="plastic">
            <option value="all">All</option>
            <option value="star">Star</option>
            <option value="champ">Champion</option>
            <option value="pro">Pro</option>
        </select>
        <input type="submit" value="Submit">
    </form>
    {{ item_added }}
    <form action="/products_search" method="POST">
        <input type="text" name="search" placeholder="Search by Disc name" required>
        <input type="submit" value="Submit">
    </form>
</div>
<div class="main_column">
    <h3>{{ product_filter }}</h3>
    <div class="products">
        {% for result in results %}
            <div class="product_display" style="border: 2px solid red;">
                <form action="add_cart" name="add_cart" method="post">
                    <img src="{{ result[3] }}" class="product_image"></a>
                    <p>Title: {{ result[1] }}</p>
                    <p>Description: {{ result[2] }}</p>
                    <p>Price: ${{ result[4] }}0</p>
                    <p>Color: {{ result[6] }}</p>
                    <p>Plastic: {{ result[8] }}</p>
                    <p>Quantity: {{ result[9] }}</p>
                    <input name="product_id" value="{{ result[0] }}" class="hidden">
                    <input name="order_amount" value="1" type="number" required><br>
                    <input type="submit" value="Add to Cart">
                </form>
            </div>
        {% endfor %}
    </div>
    
    <div class="landing_bottom">
        
    </div>
</div>
{% endblock %}