{% extends "base.html" %}
{% block body %}
<div class="top">

</div>
<div class="main" style="overflow: auto; height: auto";>
    <div class="left">
       <h3>Send a Message</h3>
        <form action="send_chat_reload" method="POST">
            <input value="{{ current_user }}" class="hidden" name="sender">
            <input value="{{ reciver }}" class="hidden" name="reciver">
            <input type="text" placeholder="Message" name="message">
            <input type="submit" value="Send">
        </form>
    </div>
    <div class="right">
        <h3>Chat Log</h3>
        <div class="chat">
            <div class="chat_left">
                {% for log in logs %}
                    <div class="review_details" style="justify-content: left;">
                        <p style="margin: 5px; height: 15px;">{{ log[1] }}</p>
                        <p style="margin: 5px; height: 15px;">{{ log[3] }}</p>
                    </div>
                    <p class="spacer">spacer</p>    
                {% endfor %}
            </div>
            <div class="chat_right">
                {% for system in systems %}   
                    <p class="spacer">spacer</p>      
                    <div class="review_details" style="justify-content: right;">
                        <p style="margin: 5px; height: 15px;">{{ system[1] }}</p>
                        <p style="margin: 5px; height: 15px;">{{ system[3] }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}