{% extends "base.html" %}
{% block body %}
<div class="top">
</div>
<div class="main">
    <div class="left">
        {% for result in results %}
            <div class="result">
                <p class="result_content">User ID: {{ result[0] }}</p>
                <p class="result_content">Username: {{ result[1] }}</p>
                <p class="result_content">First Name: {{ result[3] }}</p>
                <p class="result_content">Last Name: {{ result[4] }}</p>
                <p class="result_content">Email: {{ result[5] }}</p>
                </div>
        {% endfor %}
    </div>
    <div class="right">
        <h3>Navigate to</h3>
        <a href="products" class="a">Products</a>
        <a href="cart" class="a">View Cart</a>
        <a href="order" class="a">Orders</a>
        <a href="review" class="a">Reviews</a>
        <a href="contact_user" class="a">Chat</a>
    </div>
</div>
{% endblock %}